.chat-container {
    height: 500px;
}

.chat{
    height: 100%;
    width: 100%;
    border:1px solid #ddd;
    border-radius: 5px;
    position: relative;
    overflow:scroll;
}
.chat ul{
    position: absolute;
    list-style-type: none;
    padding: 0px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding-right: 10px;
}
.chat ul > li {
    width: 100%;
    padding: 5px;
    margin:5px;
    display: flex;
}
.chat ul > li:after {
    content: '';
    display: block;
    clear: both;
}
.chat ul > li.receive {
    text-align: right;
}

.chat ul > li.send {

    justify-content: flex-end;
    align-items: flex-end;
}
.chat ul > li.receive > .msg {

    background: rgb(125, 189, 241);
    border-radius: 5px;
    padding: 10px;
}

.chat ul > li.send > .msg {
    background: rgb(137, 247, 137);
    padding: 10px;
    border-radius: 5px;
}

.chat div.control {
    padding-top:10px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    padding: 10px;
}