<div class="container">
  <div class="row">
    <div class="col-3">
      <h2>User List</h2>
      <dx-list [dataSource]="users" keyExpr="id" selectionMode="single" height="100%" displayExpr="userName"
        [(selectedItemKeys)]="activeUserId" (onSelectionChanged)="loadMessages()">
        <div *dxTemplate="let item of 'item'">
          {{ item.userName }}
          <span *ngIf="item.unreadCount > 0" class="unread">{{ item.unreadCount }}</span>
        </div>
      </dx-list>
    </div>
    <div class="col-9">
      <div class="d-flex">
        <div class="p-2">Messages</div>
        <div class="ml-auto userName">{{ userName }}</div>
      </div>
      <app-chat [receiver]="this.receiverId" [sender]="this.userId" [messages]="currentMessages" [disabled]="!activeUserId"></app-chat>

    </div>
  </div>

</div>

<app-login [popupVisible]="loginVisible" (loginOk)="loginOk($event)"></app-login>